body {
  background-color: #eee;
}

.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-register .form-register-heading {
  margin-bottom: 10px;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input.password {
  margin-top: 10px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input.password-confirmation {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-register input[type="submit"] {
  margin-top: 10px;
}
.progress {
    background-color: #fff;
}
.fb-login-button {
  width: 123px;
  height: 39px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-twitter {
  background-image: url('../img/sign-in-with-twitter-gray.png');
  width: 158px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
}
.btn-linkedin {
  background-image: url('../img/linkedin-button.png');
  background-size:158px 48px;
  width: 158px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}