body {
  background-color: #eee;
}

.form-remind {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-remind .form-remind-heading {
  margin-bottom: 10px;
}
.form-remind .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-remind .form-control:focus {
  z-index: 2;
}
.form-remind input[type="email"] {
  margin-bottom: 10px;
}