.ui-datepicker { font-size:10.7pt !important}
body {
    color: #000; 
    background: #fff;
    margin: 0;
   }
   #header {
    height: 100px;
    background: #fc0;
   }
   #menu {
    /*width: 250px; */
    /*height: 300px;*/
    /*width: 300px;*/
    float:left;
    /*float: right;*/
   }
   #content {
    /*height: 300px; */
    /*margin-right: 250px;*/
    float:left;
    width:850px;
   }
   #footer {
    height: 50px;*/
    /*color: #fff;*/
    /*background: #000;*/
    clear: both;
   }
   .table {
	/*border:1px #ccc solid;*/
	display:table-cell;
   }
   .table .tr, .table .td { position: relative;}
   .vmiddle {vertical-align:middle;}
    vbottom {vertical-align:bottom;}

    /* fix for ie6 */
    .vbottom .tr, .vbottom .td {  //top: 100%; width: 100%;}
    .vbottom .td {//top: -100%;}

    /* fix for ie6 */
    .vmiddle .tr, .vmiddle .td {  //top: 50%; width: 100%;}
    .vmiddle .td {//top: -50%;}

    .layout {
        width: 100%; 
        margin: auto; 
        overflow: hidden;
        /*background: #d3dfe9;*/ 
        }
   .wrap { 
	/*padding: 10px;*/
	overflow: hidden;
	}
   .center {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        /*background-color: #b0e0e6;*/
    }
