﻿@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using MongoRepository;
@using ebay.Helpers;
@using ebay.Areas.admin.Models;

@{
    ViewBag.Title = "Manage";
    //Layout = "~/Areas/admin/Views/Settings/Index.cshtml";
}
@{
    List<AdminMenuModel> lm = ViewBag.GlobalSubMenu;
}
<h2>Manage</h2>
<ul class="nav nav-tabs">
    @{int ss = 0;}
    @foreach (ebay.Areas.admin.Models.AdminMenuModel i in lm)
    {
        if (ss == 0)
        {
            <li class="active"><a href="#@i.Action" data-toggle="tab">@i.Name</a></li>
            ss += 1;
        }
        else
        {
            <li><a href="#@i.Action" data-toggle="tab">@i.Name</a></li>
        }
    }

</ul>
