﻿@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using MongoRepository;
@using ebay.Helpers;
@using ebay.Areas.admin.Models;

@{
    ViewBag.Title = "Global";
    //Layout = "~/Areas/admin/Views/Settings/Index.cshtml";
}
@{
    List<AdminMenuModel> lm = ViewBag.GlobalSubMenu;
 }

@functions{
    public List<AdminMenuModel> getSubmenu(AdminMenuModel aml){
        return aml.SubMenu;
    }
} 

<h2>Global</h2>
<ul class="nav nav-tabs">
    @{int ss = 0;}
    @foreach (ebay.Areas.admin.Models.AdminMenuModel i in lm) 
    {
        if( ss == 0){
            <li class="active"><a href="#@i.Action" data-toggle="tab">@i.Name</a></li>
            ss += 1;
        }
        else
        {
            <li><a href="#@i.Action" data-toggle="tab">@i.Name</a></li>
        }    
    }
    </ul>

<div class="tab-content">
    @{int ss1 = 0;}
    @foreach (ebay.Areas.admin.Models.AdminMenuModel i in lm)
    {
            if (ss1 == 0)
            {
                <div class="tab-pane active" id="@i.Action">
                    @{List<AdminMenuModel> lm1 = getSubmenu(i);}
                        @if (lm1 != null) { 
                      
                    <ul class="nav nav-tabs">
                        @{int ss2 = 0;}
                        @foreach (ebay.Areas.admin.Models.AdminMenuModel i1 in lm1)
                        {
                            if (ss2 == 0)
                            {
                                <li class="active"><a href="#@i1.Action" data-toggle="tab">@i1.Name</a></li>
                                ss2 += 1;
                            }
                            else
                            {
                                <li><a href="#@i1.Action" data-toggle="tab">@i1.Name</a></li>
                            }
                        }
                   </ul>
                        }
</div>
            }
            else
            {
                <div class="tab-pane" id="@i.Action">...</div>
            }
            <!-- Tab panes -->
    }
    </div>
<script>
    $(function () {
        $('#nav-tabs a:last').tab('show')
    })
</script>
